{
  "root": true,
  "env": {
    "es6": true,
    "browser": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": ["airbnb-typescript", "prettier"],
  "rules": {
    "@typescript-eslint/comma-dangle": "off",
    "@typescript-eslint/no-use-before-define": ["off"],
    "class-methods-use-this": "off",
    "comma-dangle": "off",
    "import/prefer-default-export": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "no-console": "off",
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": ["state"]
      }
    ],
    "no-plusplus": "off",
    "no-return-assign": "error",
    "no-underscore-dangle": "error",
    "no-unused-vars": "error",
    "no-use-before-define": "off",
    "object-curly-newline": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-wrap-multilines": "off",
    "react/jsx-max-props-per-line": [2, { "maximum": 1, "when": "multiline" }],
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": "error",
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off"
  }
}
